<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>솔로 여행 플래너</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>혼자 여행하는 당신을 위한 플랜 작성</h1>
    </header>

    <main>
        <section class="planner">
            <h2>쉽고 빠르게 혼자 여행을 계획하세요!</h2>
            <p>여행을 계획하고 공유하는 최고의 솔루션! 혼자 여행을 더욱 특별하게 만드세요.</p>
        </section>
<!-- 
        <section id="output" class="hidden">
            <h2>여행 플랜</h2>
            <p id="plan-details"></p>
        </section> -->

    <div class="login-container" id="loginContainer">
        <h2>로그인</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="로그인">
            </div>
            <div id="signupButton">
                <a href="/auth/signup/page">회원가입</a>
            </div>
            <!-- 로그아웃 버튼 -->
    <div id="logoutButton" style="display: none;">
        <button id="logoutBtn">로그아웃</button>
    </div>
        </form>
    </div>

      <!-- JWT 토큰을 표시할 영역 -->
    <div id="tokenDisplay"></div>

    
        </main>
   <script src="/static/signin.js"></script>

</body>
</html>
